---
import CardProyect from "../components/CardProyect";
const proyects = [
    {
        nombre: "Teslo-shop",
        descripcion:
            "Ecommerce realizado con NextJs donde simula todo el proceso de compra de un producto",
        tech: ["NextJs", "AuthJs", "Prisma", "Tailwind"],
    },
    {
        nombre: "Chat-IA",
        descripcion: "Chat con una inteligencia artificial",
        tech: ["Astro", "AuthJs"],
    },
];
---

<section id="proyectos" class="container section">
    <h2>Proyectos</h2>
    <div class="proyectos">
        {
            proyects.map(({ descripcion, nombre, tech }) => {
                return (
                    <CardProyect
                        nombre={nombre}
                        descripcion={descripcion}
                        tech={tech}
                    />
                );
            })
        }
    </div>
</section>
<style>
    .container {
        /* border: 1px solid; */
        margin-bottom: 3rem;
        width: 80%;
        min-height: 100dvh;
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
        margin-bottom: var(--mb-3);
    }
    .proyectos {
        /* border: 1px solid; */
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        gap: 1.5rem;
    }
    @media screen and (min-width: 910px) {
        .proyectos {
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: start;
        }
    }
</style>
